<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="folder != 'Main'">{{ folder }}</ion-title>
    <ion-title *ngIf="folder == 'Main'">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="authStateSvc.customer === true && folder == 'Main'" [fullscreen]="true" >
  <ion-item *ngIf="!realName || !phoneNumber || !address">Please complete your personal information before start using the application.</ion-item>
  <ion-card>
    <ion-item>
      <ion-avatar>
        <ion-img src='assets/image/default-profile.jpg' *ngIf="!image"></ion-img>
        <ion-img [src]="image" *ngIf="image"></ion-img>
      </ion-avatar>
      <ion-label style="margin-left: 5%;">
        <h3>{{realName}}</h3>
        <p>{{authStateSvc.email}}</p>
      </ion-label>
    </ion-item>
    <ion-card-header>
      <ion-card-title>
        Deliver to: 
      </ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label text-wrap>
        <h2>
          <ion-button (click)="pickAddress(1)" style="height: 40px;" expand="block">Current Address</ion-button>
          <ion-button (click)="pickAddress(2)" style="height: 40px;" expand="block">Set Another Address</ion-button>
        </h2>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="canBeginShop == true && cartSvc.address != null">{{cartSvc.address}}</ion-item>
    <ion-card-content *ngIf="canBeginShop == true && cartSvc.address != null">
      <ion-button class="ion-padding" expand="block" color="warning" (click)="viewShop()">Shop now</ion-button>
      <ion-button style="padding-top: 10%;" class="ion-padding" expand="block" color="danger" (click)="viewShop()">View Shop</ion-button>
      <br>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="folder == 'Orders'" [fullscreen]="true">
  <p style="margin-left: 3%;">Ongoing Orders: </p>
  <ng-container *ngFor="let o of this.orderList">
    <ion-card *ngIf="o.status != 'delivered'">
      <ion-card-header>
        <p style="font-size: 17px;"><b>Order:</b> #{{o.orderID}}</p>
        <p><b>Created:</b> {{o.date}}</p>
        <p><b>Status: </b> 
          <span [style]="o.statusColorStyle" *ngIf="o.status == 'created'">Order created.</span>
          <span [style]="o.statusColorStyle" *ngIf="o.status == 'pickup'">Rider has picked up your order.</span>
          <span [style]="o.statusColorStyle" *ngIf="o.status == 'indelivery'">Rider is delivering your order.</span>
          <span [style]="o.statusColorStyle" *ngIf="o.status == 'delivered'">Rider has delivered your order.</span>
        </p>
      </ion-card-header>
      <ion-card-content>
        Items:
        <ion-list>
          <ion-item *ngFor="let x of o.order">
            <div class="imgDiv">
              <ion-img class="itemImg" slot="start" [src]=x.image></ion-img>
            </div>
            <ion-label>
              <h2>{{x.name}}</h2>
              <p>{{x.price | currency:'RM'}} x {{x.amount}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-item>
        <p style="font-size: 15px;">Total Amount: {{o.total | currency:'RM'}}</p>
        <p style="font-size: 15px;">Estimated Delivery Time: 10minutes</p>
      </ion-item>
      <ion-button style="float: right; margin-bottom: 3%; margin-right: 3%;" (click)="viewOrder(o.orderID)">View</ion-button>
    </ion-card>
  </ng-container>

  <p style="margin-left: 3%;">Completed Orders: </p>
  <ng-container *ngFor="let o of this.orderList">
    <ion-card *ngIf="o.status == 'delivered'">
      <ion-card-header>
        <p style="font-size: 17px;"><b>Order:</b> #{{o.orderID}}</p>
        <p><b>Created:</b> {{o.date}}</p>
        <p style="font-size: 15px;">Total Amount: {{o.total | currency:'RM'}}</p>
      </ion-card-header>
      <ion-button style="float: right; margin-bottom: 3%; margin-right: 3%;" (click)="viewOrder(o.orderID)">View</ion-button>
    </ion-card>
  </ng-container>
</ion-content>

<ion-content *ngIf="folder == 'Profile'" [fullscreen]="true">
  <div class="image-placeholder">
    <img *ngIf="photoService.profilePhoto != null" [src]="'data:image/jpeg;base64,' + photoService.profilePhoto">
    <ion-button [hidden]="enableEdit == false" *ngIf="photoService.profilePhoto != null" (click)="removePhoto('photoSvcImg')"><ion-icon name="close-circle"></ion-icon></ion-button>
    <img *ngIf="this.image && !photoService.profilePhoto" [src]="this.image">
    <ion-button [hidden]="enableEdit == false" *ngIf="this.image && photoService.profilePhoto == null" (click)="removePhoto('this.Image')"><ion-icon name="close-circle"></ion-icon></ion-button>
    <img *ngIf="!this.image && !photoService.profilePhoto" src="assets/image/default-profile.jpg">
  </div>
  <div>
    <label class="upload-profile-pic" [hidden]="enableEdit == false" (click)="takeImage()">
      <ion-icon margin-right name="cloud-download"></ion-icon>
      &nbsp;Select profile photo
    </label>
  </div>

  <br [hidden]="enableEdit == false">

  <form [formGroup]="profileForm" disabled novalidate>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" class="ion-text-end" formControlName="email" [(ngModel)]="email" placeholder={{authStateSvc.email}} disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" class="ion-text-end" formControlName="realName" [(ngModel)]="realName" placeholder={{realName}} [disabled]="enableEdit == false"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!profileForm.controls.realName.valid && profileForm.controls.realName.touched" [hidden]="enableEdit == false">
      <p>Please enter your real name.</p>
    </ion-item>
    <ion-item>
      <ion-label>Phone Number</ion-label>
      <ion-input type='tel' class="ion-text-end" formControlName="phoneNumber" [(ngModel)]="phoneNumber" placeholder={{phoneNumber}} [disabled]="enableEdit == false"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!profileForm.controls.phoneNumber.valid && profileForm.controls.phoneNumber.touched" [hidden]="enableEdit == false">
      <p>Please enter Malaysia phone number only.</p>
    </ion-item>
    <ion-item>
      <ion-label>Address</ion-label>
      <ion-textarea class="ion-text-end" minlength="5" maxlength="200" formControlName="address" [(ngModel)]="address" placeholder={{address}} [disabled]="enableEdit == false"></ion-textarea>
    </ion-item>
    <ion-item class="error-message" *ngIf="!profileForm.controls.phoneNumber.valid && profileForm.controls.phoneNumber.touched" [hidden]="enableEdit == false">
      <p>Required.</p>
    </ion-item>
  </form>
  <br><br>
  <ion-button class="ion-padding" expand="block" (click)="updateInfo(realName, phoneNumber, address)" [hidden]="enableEdit == false">Save</ion-button>
  <ion-button class="ion-padding" expand="block" (click)="openEdit()" *ngIf="enableEdit == false">Edit</ion-button>
  <ion-button class="ion-padding" expand="block" (click)="discardEdit()" *ngIf="enableEdit == true">Cancel</ion-button>
  <br>
</ion-content>

<ion-content *ngIf="authStateSvc.rider === true && folder == 'Main'" [fullscreen]="true">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed"></ion-refresher>
  <ion-item *ngIf="!realName || !phoneNumber || !address">Please complete your personal information before start using the application.</ion-item>
  <ion-card>
    <ion-item>
      <ion-avatar>
        <ion-img src='assets/image/default-profile.jpg' *ngIf="!image"></ion-img>
        <ion-img [src]="image" *ngIf="image"></ion-img>
      </ion-avatar>
      <ion-label style="margin-left: 5%;">
        <h3>{{realName}}</h3>
        <p>{{authStateSvc.email}}</p>
      </ion-label>
    </ion-item>
  </ion-card>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Available Job Orders:</p>
  <ng-container *ngFor="let o of this.neworderList">
  <ion-card *ngIf="o.status == 'created'">
    <ion-card-header>
      <p style="font-size: 17px;"><b>Order:</b> #{{o.orderID}}</p>
      <p><b>Elapsed:</b> {{(o.duration/60).toFixed(0)}} mins</p>
    </ion-card-header>
    <ion-card-content>
      Items:
      <ion-list>
        <ion-item *ngFor="let x of o.order">
          <div class="imgDiv">
            <ion-img class="itemImg" slot="start" [src]=x.image></ion-img>
          </div>
          <ion-label>
            <h2>{{x.name}}</h2>
            <p>{{x.price | currency:'RM'}} x {{x.amount}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-card-content>
      <p style="font-size: 15px;">Total Amount: {{o.total | currency:'RM'}}</p>
      <p style="font-size: 15px;">Deliver to:</p>
      <p style="font-size: 15px;">{{o.customerName}}</p>
      <p style="font-size: 15px;">{{o.deliveryAddress}}</p>
    </ion-card-content>
    <ion-button style="float: right; margin-bottom: 3%; margin-right: 3%;" (click)="acceptOrder(o.orderID)">Accept</ion-button>
  </ion-card>
  </ng-container>
</ion-content>

<ion-content *ngIf="folder == 'RiderOrders'" [fullscreen]="true">
  <p style="margin-left: 3%;">Ongoing Job Orders: </p>
  <ng-container *ngFor="let o of this.riderOrderList">
    <ion-card *ngIf="o.status != 'delivered'">
      <ion-card-header>
        <p style="font-size: 17px;"><b>Order:</b> #{{o.orderID}}</p>
        <p><b>Created:</b> {{o.date}}</p>
        <p><b>Elapsed:</b> {{(o.duration/60).toFixed(0)}} mins</p>
        <p><b>Status: </b> 
          <span [style]="o.statusColorStyle" *ngIf="o.status == 'created'">Order created.</span>
          <span [style]="o.statusColorStyle" *ngIf="o.status == 'pickup'">You have picked up the order.</span>
          <span [style]="o.statusColorStyle" *ngIf="o.status == 'indelivery'">You are delivering the order.</span>
          <span [style]="o.statusColorStyle" *ngIf="o.status == 'delivered'">You have delivered the order.</span>
        </p>
      </ion-card-header>
      <ion-card-content>
        Items:
        <ion-list>
          <ion-item *ngFor="let x of o.order">
            <div class="imgDiv">
              <ion-img class="itemImg" slot="start" [src]=x.image></ion-img>
            </div>
            <ion-label>
              <h2>{{x.name}}</h2>
              <p>{{x.price | currency:'RM'}} x {{x.amount}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-card-content>
        <p style="font-size: 15px;">Total Amount: {{o.total | currency:'RM'}}</p>
        <p style="font-size: 15px;">Deliver to:</p>
        <p style="font-size: 15px;">{{o.customerName}}</p>
        <p style="font-size: 15px;">{{o.deliveryAddress}}</p>
      </ion-card-content>
      <ion-button style="float: right; margin-bottom: 3%; margin-right: 3%;" (click)="viewJobOrder(o.orderID)">View</ion-button>
    </ion-card>
  </ng-container>

  <p style="margin-left: 3%;">Completed Job Orders: </p>
  <ng-container *ngFor="let o of this.riderOrderList">
    <ion-card *ngIf="o.status == 'delivered'">
      <ion-card-header>
        <p style="font-size: 15px;"><b>Order:</b> #{{o.orderID}}</p>
        <p><b>Created:</b> {{o.date}}</p>
        <p style="font-size: 15px;">Deliver to: {{o.customerName}}</p>
      </ion-card-header>
      <ion-button style="float: right; margin-bottom: 3%; margin-right: 3%;" (click)="viewJobOrder(o.orderID)">View</ion-button>
    </ion-card>
  </ng-container>
</ion-content>