ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

img {
  width: 160px;
  height: 160px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.image-placeholder {
  margin: 5%;
  display: flex;
  justify-content: center;
}

input[type="file"] {
  display: none;
}

.upload-profile-pic {
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 6px 12px;
  cursor: pointer;
  width: 75%;
  text-align: center;
  color:var(--ion-color-primary);
}

.upload-profile-pic:hover {
  color:var(--ion-color-primary);
}

.my-custom-class {
  --background: #e5e5e5;
}

.buttons {
  float: right; 
  font-size: 10px; 
  height: 22px;
  margin-right: 15px;
  margin-top: -3px;
}

.btns {
  height: 20px;
  margin-bottom: 15px;
  margin-left: 20%;
}

.itemImg {
  max-width: 50px;
  max-height: 50px;
}

.imgDiv {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 3%;
}
